#header {
    background-color: white;
    display:flex;                         
    justify-content: space-between;  
    border: 2px solid black;      
}
#navbar {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    position: sticky; /* Make the navbar sticky */  
    top: 0px; /* Position it at the top of the viewport */
    z-index: 1000; /* Ensure it stays above other content */      
}
.nav-links {
    border: 2px solid black;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 20px; /* Space between menu items */                  
}
.theme-toggle {
    padding: 2px 2px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between theme toggle elements */
}
#home {
    background-color: aquamarine;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
}